.DS_Store
Speech_key.json
asound.conf
bin/
*.pem
documents/
images/
include/
lib/
preprocessed_vectorstore/
pyvenv.cfg
sow_generator.log
static/
streamlit_audio_recorder/
textfile.txt
vectorstore.faiss/
vertexaikey.json
.env
.vscode/
__pycache__/
etc/
share/