# System files
.DS_Store
.vscode/
__pycache__/

# Environment and keys
.env
Speech_key.json
vertexaikey.json
config/Speech_key.json

# Virtual environments
venv/
bin/
include/
lib/
etc/
share/
pyvenv.cfg
fresh_env_newest/

# Project-specific files
asound.conf
*.pem
documents/
images/
preprocessed_vectorstore/
sow_generator.log
static/
streamlit_audio_recorder/
textfile.txt
vectorstore.faiss/
config/vectorstore.faiss

# Python
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Backups
*.bak
*.backup
*~
