streamlit
google-generativeai
python-dotenv
reportlab
python-docx
langchain>=0.0.350
langchain-community>=0.0.10
langchain-huggingface
faiss-cpu
sentence-transformers>=2.6.0
torch
transformers>=4.39.0
numpy
scikit-learn
tqdm
langsmith>=0.1.0,<0.2.0